body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  all: unset;
}

header {
  padding: 20px;
  border-bottom: 1px solid darkgrey;
}

#logo-brand-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

#header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

#header-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

h1 {
  font-size: 38px;
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.3s ease;
}

main {
  display: flex;
  justify-content: flex-start;
}

#product-results-section,
#cart-section {
  padding: 20px;
  border-bottom: 1px solid darkgrey;
}

#products-heading,
#cart-heading {
  display: flex;
  align-items: center;
}

#products-heading-icon img,
#cart-heading-icon img {
  height: 30px;
  margin-right: 10px;
}

#search-sort-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  margin: 20px 0;
}

#search-container {
  display: flex;
  align-items: center;
}

input {
  all: unset;
}

#search-box {
  border: 1px solid darkgrey;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

#search-icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

#search-icon:hover {
  color: darkgrey;
}

#sort-filter-container {
  display: flex;
  gap: 20px;
}

#sort-container,
#filter-category,
#filter-price,
#filter-color,
#filter-size {
  cursor: pointer;
  transition: color 0.3s ease;
  border: 1px solid darkgrey;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

#sort-container:hover,
#filter-category:hover,
#filter-price:hover,
#filter-color:hover,
#filter-size:hover {
  color: darkgrey;
}

#product-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
  justify-content: flex-start;
}

.product-card {
  min-width: 250px;
  max-width: calc(25% - 40px);
  border: 1px solid darkgrey;
  border-radius: 5px;
  padding: 15px;
  transition: background-color 0.3s ease, transform 0.3s;
  text-align: center;
}

.product-card img.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 1.5em;
}

.product-card p {
  margin: 5px 0;
  font-size: 1em;
}

.product-card:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

#checkout-container {
  text-align: center;
  margin-top: 20px;
}

#checkout-button {
  background-color: darkgrey;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#checkout-button:hover {
  background-color: grey;
}

.current-page {
  font-weight: bold;
  color: #005cfb;
}

nav a:hover {
  border-bottom: 2px solid #005cfb;
}

.current-page:focus {
  outline: 2px solid #005cfb;
  outline-offset: 2px;
}

#reset-icon {
  display: inline-block;
  margin-left: 10px;
}

#reset-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#sort-container {
  display: inline-block;
  position: relative;
}

#sort-button {
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

#sort-options {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#sort-options a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#sort-options a:hover {
  background-color: #f1f1f1;
}

#sort-container:hover #sort-options {
  display: block;
}

.filter-dropdown {
  display: inline-block;
  position: relative;
}

.filter-button {
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.filter-options {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.filter-options input[type="checkbox"] {
  margin-right: 10px;
}

.filter-dropdown:hover .filter-options {
  display: block;
}

#cart-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#cart-icon {
  width: 40px;
  height: auto;
}

#cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: orange;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 12px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.cart-item-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-item-details h3 {
  margin: 0;
  font-size: 16px;
}

.cart-item-details p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.remove-from-cart-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px; /* Slightly rounded edges */
  cursor: pointer;
  font-size: 12px;
  align-self: flex-start;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}

.remove-from-cart-button:hover {
  background-color: darkred; /* Darker red on hover */
}

#banner-container {
  background-image: url('https://cdn.place2be.berlin/images/Platte_Berlin_c_promo_Chris_Abat.width-1600.format-webp.webp');
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
}

.add-to-cart-button {
  background-color: #005cfb; /* Blue color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px; /* Slightly rounded edges */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #004bb5; /* Darker blue on hover */
}
